graft src/project/title
graft docs
graft news
graft tests
graft scripts
include *.acceptance
include .coveragerc
include .dockerignore
include .editorconfig
include *.txt
include *.yml
include *.md
exclude .mrbob.ini
exclude bobtemplate.cfg
exclude *-mxdev.txt
exclude Dockerfile
exclude mx.ini
exclude Makefile
exclude instance.yaml
global-exclude *.pyc
global-exclude .DS_Store
